<template lang="pug">
    client-only
        .crud
            NuxtLink.button(:to="localePath({name:'admin'})") Back
            MongooseModelCrud(:model="model" :apiUrl="'/api'" :authToken="$store.getters['auth/token']")
</template>
<script>
import MongooseModelCrud from '@/components/MongooseModelCrud.vue'
import axios from 'axios'
export default {
  name: 'Crud',
  components: {
    MongooseModelCrud,
  },
  meta: {
    requiresAdmin: true,
  },
  data() {
    return {
      model: {},
      config: {
        translation: {
          sort: 'path',
          limit: 999,
        },
        right: {
          selectRow: false,
          canCreate: false,
        },
        role: {
          selectRow: false,
          canCreate: false,
        },
        file: {
          selectRow: false,
          canCreate: false,
        },
      },
    }
  },
  mounted() {
    this.update()
  },
  methods: {
    async update() {
      this.model = {
        ...(await axios.get(`/api/models?name=${this.$route.params.name}`))
          .data[0],
        name: this.$route.params.name,
        ...(this.config[this.$route.params.name] || {}),
        plural:
          this.$route.params.name.charAt(this.$route.params.name.length - 1) ===
          's'
            ? this.$route.params.name
            : this.$route.params.name + 's',
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.crud {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.button {
  width: fit-content;
}
</style>
