<template>
  <div>
    <flat-pickr
      ref="dt"
      v-model="date"
      class="input"
      :config="config"
    ></flat-pickr>
  </div>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
import moment from 'moment-timezone'
export default {
  components: {
    flatPickr,
  },
  props: {
    value: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      date: this.valueDate,
      config: {
        time_24hr: true,
        altInput: false,
        dateFormat: 'DD-MM-YYYY HH:mm',
        altFormat: 'YYYY-MM-DD',
        allowInput: true,
        enableTime: true,
        parseDate: (datestr, format) => {
          return moment(datestr, format, true).toDate()
        },
        formatDate: (date, format, locale) => {
          // locale can also be used
          return moment(date).format(format)
        },
      },
    }
  },
  computed: {
    valueDate() {
      return (
        this.value &&
        moment(this.value, 'YYYY-MM-DD HH:mm:ss').format('DD-MM-YYYY HH:mm')
      )
    },
  },
  watch: {
    date() {
      this.$emit(
        'input',
        moment(this.date, 'DD-MM-YYYY HH:mm').format('YYYY-MM-DD HH:mm:ss')
      )
    },
    value() {
      if (this.value) {
        console.log('JUMP TODATE', this.valueDate)
        this.$refs.dt && this.$refs.dt.fp.setDate(this.valueDate, false)
      }
    },
  },
}
</script>
<style lang="scss">
.flatpickr-input {
  padding: 5px;
  font-size: 12px;
  border: 1px solid;
}
</style>
