<template lang="pug">
    .event_images_slider
        .images
            img.preview_image(v-for="image in (images||[])" :key="image._id" :src="'/api/uploads/'+image.path" @click="$emit('selectImage',image)")
        .preview_image_area(v-if="previewImage")
            img(:src="'/api/uploads/'+previewImage.path")
            .btn_group
                button(@click="$emit('prevImage')") <
                button(@click="$emit('removeImage')") Remove
                button(@click="$emit('closeImages')") Close
                button(@click="$emit('nextImage')") >
</template>
<script>
export default {
  props: {
    images: {
      type: Array,
      default: () => [],
    },
    previewImage: {
      type: Object,
      default: () => ({}),
    },
  },
}
</script>
<style lang="scss" scoped>
.preview_image {
  max-height: 200px;
}
.preview_image_area {
  position: fixed;
  left: 0px;
  top: 0px;
  width: calc(100vw);
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.63);
  flex-direction: column;
}
.preview_image_area img {
  max-height: calc(90vh);
  max-width: calc(96vw);
}
.images {
  display: flex;
  flex-wrap: wrap;
}
.btn_group {
  display: flex;
  column-gap: 5px;
}
</style>
