<template lang="pug">
    .theme_select
        select(v-model="selected" @change="$emit('input',selected)")
            option(v-for="option in options" :key="option._id" :value="option") {{option.name}}
</template>
<script>
export default {
  props: {
    value: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      options: [],
      selected: this.value || null,
    }
  },
  watch: {
    value() {
      if (this.value && this.options) {
        this.selected = this.options.find(
          (o) => o._id.toString() === this.value._id
        )
      }
    },
  },
  async mounted() {
    const paginateResponse = (await this.$axios.get('/event_themes')).data
    this.options = paginateResponse.docs
    if (this.value) {
      this.selected =
        this.options.find((o) => o._id.toString() === this.value._id) || null
    }
  },
}
</script>
