<template lang="pug">
.event_details
  NuxtLink.button.back_button( v-if="readonly" :to="localePath({name:'events'})") Back to Events
  .event_logo(:style="eventLogoStyle")
  .event_view()
    
    .event_left
      
      .event_title  {{event.title}}
      .event_theme(v-show="event.theme") {{event.theme&& event.theme.name}}
      .event_description {{event.description}}
      .event_gallery(v-show="eventImages.length>0")
        p(style="margin-bottom:15px") Gallery
        EventImagesSlider(:previewImage="previewImage" :images="eventImages"
      @selectImage="selectImage"
      @prevImage="prevImage" @removeImage="removeImage" @closeImages="closeImages" @nextImage="nextImage")
      .event_json(style="margin-top:20px;" v-if="false")
        label 
          strong RAW DATA
        p {{ event }}
    .event_right
      .event_users
        p(v-show="eventUsers.length===0") {{$t('EVENT.NO_PARTICIPANTS_TEXT')}}
        p(v-show="eventUsers.length>0")
          strong Participants
        .event_user(v-for="eventUser in eventUsers" :key="eventUser._id")
          p {{eventUser.user.username||eventUser.user.email}}
        p.section_label(v-show="event.date")
          strong Date
        p(v-show="event.date") {{eventDate}}
  client-only
    .event_form(v-if="!readonly")
      .form_group
        label.form_label Title
        input.form_input.title(v-model='event.title')
      .form_group
        label.form_label Slug
        input.form_input.slug(v-model='event.slug')
      .form_group
        label.form_label Theme
        EventThemeSelect(v-model="event.theme")
      .form_group
        label.form_label Date and Time
        DatetimePicker(v-model="event.date")
      .form_group
        label.form_label Description
        textarea.form_input(v-model='event.description')
      .form_group
        label.form_label Duration (hours)
        input.form_input(v-model='event.durationHours')
      .form_group
        label.form_label Distance (Km)
        input.form_input(v-model='event.distanceKm')
      .form_group
        label.form_label Difficulty
        select.form_input(v-model='event.difficulty')
          option(:value="'easy'") Easy
          option(:value="'medium'") Medium
          option(:value="'hard'") Hard
    
      .form_group(v-if="event._id")
        label.form_label Images
        
        EventImagesSlider(:previewImage="previewImage" :images="eventImages"
        @selectImage="selectImage"
        @prevImage="prevImage" @removeImage="removeImage" @closeImages="closeImages" @nextImage="nextImage")
        button.upload_images_button(@click="showUploadImages") Upload images
        .upload_area(v-show="uploadImages")
          form.dropzone(action="/api/events/images")
            input(type="hidden" name="eventId" :value="event._id")
          button(@click="uploadImages=false") Close
</template>
<script>
import axios from 'axios'
import moment from 'moment-timezone'
import EventImagesSlider from './EventImagesSlider.vue'

export default {
  components: {
    EventImagesSlider,
  },
  props: {
    readonly: {
      type: Boolean,
      default: false,
    },
    value: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      uploadImages: false,
      previewImage: null,
      event: {
        ...this.value,
      },
    }
  },
  computed: {
    eventLogoStyle() {
      return this.eventImages.length === 0
        ? `height:0px;display:none`
        : `background: linear-gradient(to bottom, rgba(255, 255, 255, 0.212), rgba(255, 255, 255, 0.212)),url(/api/uploads/${this.eventImages[0].path});
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  margin: -30px;
    margin-bottom: -15px;
      `
    },
    eventDate() {
      return (
        this.event.date && moment(this.event.date).format('DD-MM-YYYY HH:mm')
      )
    },
    eventImages() {
      return (this.event && this.event.images) || []
    },
    eventUsers() {
      return (this.event && this.event.users) || []
    },
  },
  watch: {
    event: {
      handler() {
        if (
          Object.keys(this.event).find((k) => this.event[k] !== this.value[k])
        ) {
          this.$emit('input', this.event)
        }
      },
      deep: true,
    },
    value() {
      this.event = {
        ...this.value,
      }
    },
  },

  methods: {
    selectImage(image) {
      this.previewImage = image
    },
    closeImages() {
      this.previewImage = null
    },
    showUploadImages() {
      this.uploadImages = true
      if (!this.readonly && this.event._id && !this.myDropzone) {
        const myDropzone = new this.$Dropzone('.dropzone', {
          dictDefaultMessage: 'Drop files or click to upload',
        })
        myDropzone.on('addedfile', (file) => {
          setTimeout(() => {
            this.update()
          }, 2000)
        })
        this.myDropzone = myDropzone
      }
    },
    async removeImage() {
      await axios.delete(
        `/api/events/${this.event._id}/images/${this.previewImage._id}`
      )
      this.previewImage = null
      this.update()
    },
    prevImage() {
      const index = this.eventImages.findIndex(
        (e) => e._id === this.previewImage._id
      )
      this.previewImage =
        index - 1 >= 0
          ? this.eventImages[index - 1]
          : this.eventImages[this.eventImages.length - 1]
    },
    nextImage() {
      const index = this.eventImages.findIndex(
        (e) => e._id === this.previewImage._id
      )
      this.previewImage =
        index + 1 <= this.eventImages.length - 1
          ? this.eventImages[index + 1]
          : this.eventImages[0]
    },
    async update() {
      this.event = {
        ...(await axios.get(`/api/events/${this.event._id}`)).data,
      } // {#} -e
      this.$emit('update', this.event)
    },
  },
}
</script>
<style lang="scss" scoped>
.event_details,
.event_details * {
  box-sizing: border-box;
}
.form_group {
  display: flex;
  flex-direction: column;
}
.form_label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-style: italic;
  font-size: 12px;
}
.form_input {
  border: 1px solid #662c91;
  padding: 5px;
}
.form_input.title {
  max-width: 600px;
  font-weight: bold;
  font-size: 16px;
}
.event_title {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
}
.event_description {
  padding: 20px 0px;
}
.event_view {
  background-color: var(--color-cream);
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media only screen and (min-width: 992px) {
    flex-direction: row;
  }
}
.event_left {
  @media only screen and (min-width: 992px) {
    width: 70%;
  }
}
.event_right {
  padding: 10px;

  @media only screen and (min-width: 992px) {
    width: 30%;
  }
}
.upload_area {
  position: fixed;
  left: 0px;
  top: 0px;
  width: calc(100vw);
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.63);
  flex-direction: column;
}

.upload_images_button {
  max-width: 200px;
  margin-top: 5px;
}

.back_button {
  margin-bottom: 20px;
  @media only screen and (min-width: 992px) {
    width: 135px;
    text-align: center;
  }
}
.event_gallery {
  margin: 10px auto;
}
.section_label {
  margin-top: 10px;
}
.event_logo {
  height: 200px;
}
</style>
