<template lang="pug">
    footer
        NuxtLink(:to="localePath({name:'privacy-policy'})" target="_blank") {{$t('FOOTER.PRIVACY_POLICY')}}
        a(href="mailto:contact@misitioba.com" target="_blank") Contact
        NuxtLink(
          v-for="locale in availableLocales"
          :key="locale.code"
          :to="switchLocalePath(locale.code)") {{ locale.label }}
</template>
<script>
export default {
  computed: {
    availableLocales() {
      const labels = {
        en: 'English',
        fr: 'French',
        es: 'Spanish',
      }
      return this.$i18n.locales
        .filter((i) => i.code !== this.$i18n.locale)
        .map((lang) => {
          return {
            code: lang.code,
            label: labels[lang.code],
          }
        })
    },
  },
}
</script>
<style lang="scss" scoped>
footer {
  margin-top: 50px;
  min-height: 200px;
  background-color: var(--color-light-blue);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px 10%;
  column-gap: 20px;
  row-gap: 20px;
  @media only screen and (min-width: 992px) {
    flex-direction: row;
    justify-content: flex-end;
  }
}
a {
  color: var(--color-cream);
  text-decoration: none;
}
a:hover {
  opacity: 0.9;
}
</style>
