<template>
  <svg
    id="Capa_1"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 512.001 512.001"
    style="enable-background: new 0 0 512.001 512.001"
    xml:space="preserve"
    @click="$emit('click')"
  >
    <g>
      <g>
        <path
          d="M437.019,74.982C388.667,26.629,324.38,0.001,255.999,0.001S123.333,26.629,74.981,74.982C26.629,123.333,0,187.62,0,256
			s26.629,132.668,74.981,181.019C123.333,485.372,187.621,512,256.001,512s132.668-26.629,181.019-74.981
			C485.372,388.668,512.001,324.38,512.001,256S485.371,123.333,437.019,74.982z M255.999,481.158
			C131.848,481.158,30.843,380.152,30.843,256S131.848,30.843,255.999,30.843S481.156,131.849,481.156,256
			S380.152,481.158,255.999,481.158z"
        />
      </g>
    </g>
    <g>
      <g>
        <path
          d="M396.853,240.579H115.147c-8.517,0-15.421,6.905-15.421,15.421c0,8.517,6.905,15.421,15.421,15.421h281.706
			c8.517,0,15.421-6.905,15.421-15.421C412.274,247.483,405.37,240.579,396.853,240.579z"
        />
      </g>
    </g>
    <g>
      <g>
        <path
          d="M376.291,155.76H135.709c-8.517,0-15.421,6.905-15.421,15.421c0,8.517,6.905,15.422,15.421,15.422h240.582
			c8.517,0,15.422-6.905,15.422-15.422C391.713,162.665,384.808,155.76,376.291,155.76z"
        />
      </g>
    </g>
    <g>
      <g>
        <path
          d="M376.291,325.397H135.709c-8.517,0-15.421,6.905-15.421,15.421c0,8.517,6.905,15.421,15.421,15.421h240.582
			c8.517,0,15.422-6.905,15.422-15.421C391.713,332.301,384.808,325.397,376.291,325.397z"
        />
      </g>
    </g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
  </svg>
</template>
<style lang="scss" scoped>
svg {
  max-width: 32px;
  fill: white;
}
</style>
