<template lang="pug">
    .login-register
        //label Username
        //input(v-model="form.username" placeholder="username")
        label Email
        input(v-model="form.email" placeholder="email")
        label Password
        input(v-model="form.password" placeholder="password" type="password" @keyup="keyup") 
        a.password_reset(@click="passwordReset") Reset password
        .privacy_policy(v-if="showPrivacyPolicy")
          input(type="checkbox" v-model="privacyPolicy")
          span I Agree to 
          a(href="/privacy-policy" target="_blank") Privacy Policy
            
        .btn-group
          button(@click="register") {{privacyPolicy ? `Accept and Create Account` : `Create Account`}}
          button(@click="login") Sign-In
        button(@click="$emit('done')") Close

</template>
<script>
import axios from 'axios'

function isEmailValid(email) {
  if (
    /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(
      email
    )
  ) {
    return true
  }
  return false
}

export default {
  data() {
    return {
      showPrivacyPolicy: false,
      privacyPolicy: false,
      form: {
        username: '',
        email: '',
        password: '',
      },
    }
  },
  methods: {
    keyup(e) {
      if (e.key === 'Enter') {
        this.login(e)
      }
    },
    passwordReset() {
      const email = window.prompt(
        'Hey! Have you forgotten your password? \n Please enter your email address below to receive a password reset link:'
      )
      if (email) {
        if (!isEmailValid(email)) {
          return alert('Try with a valid email :D')
        }
        axios.post(`/api/users/password_reset`, {
          email,
        })
        window.alert(
          'If your email exists in your database, you will receive an email.'
        )
      }
    },
    isFormValid(mode = 'login') {
      const validEmail = !!this.form.email && isEmailValid(this.form.email)
      if (mode === 'login') {
        return (
          (!!this.form.email || !!this.form.username) && !!this.form.password
        )
      }
      if (mode === 'password_reset') {
        return validEmail
      }
      return validEmail && !!this.form.password
    },
    async login(e) {
      e.preventDefault()
      if (this.isFormValid()) {
        try {
          await this.$store.dispatch('auth/authenticate', {
            ...this.form,
          })
          this.$emit('done')
          this.$router.push(
            this.localePath({
              name: 'index',
            })
          )
        } catch (err) {
          if (err.isAxiosError && err.response.data.message === 'NOT_FOUND') {
            alert('Invalid credentials')
          }
        }
      } else {
        window.alert('Email/Password required')
      }
    },
    async register(e) {
      e.preventDefault()
      if (!this.privacyPolicy) {
        this.showPrivacyPolicy = true
        return
      }
      if (this.isFormValid()) {
        try {
          await axios.post(`/api/users`, {
            ...this.form,
          })
          alert('Done! Check your email')
          this.$emit('done')
        } catch (err) {
          if (err.isAxiosError && err.response.data.message) {
            const errors = {
              DUPLICATED_EMAIL: `The email you entered (${this.form.email}) is already registered.`,
              DUPLICATED_USERNAME: `The username you entered (${this.form.username}) is already registered`,
            }
            return alert(
              errors[err.response.data.message] || err.response.data.message
            )
          }
          if (err.isAxiosError) {
            return alert('Server error, please try later :(')
          }
        }
      } else {
        window.alert('Email and Password required')
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.login-register {
  display: flex;
  min-height: calc(100vh);
  position: fixed;
  top: 0px;
  width: calc(100vw);
  align-items: center;
  justify-content: center;
  background: var(--color-cream);
  flex-direction: column;
}

input {
  height: 50px;
  min-width: 300px;
  margin: 0px;
  text-align: center;
}
.privacy_policy {
  display: flex;
  column-gap: 5px;
  align-items: center;
  margin-top: 15px;
}
.privacy_policy > input {
  height: 15px;
  min-width: initial;
}
.privacy_policy span,
.privacy_policy a {
  font-size: 10px;
}
button {
  height: 50px;
  min-width: 145px;
  margin-top: 15px;
}
label {
  padding-top: 15px;
  padding-bottom: 5px;
}
.btn-group {
  display: flex;
  column-gap: 10px;
}
.password_reset {
  cursor: pointer;
  text-align: left;
  margin-top: 10px;
  font-size: 10px;
  color: var(--color-light-blue);
}
</style>
