<template lang="pug">
client-only
    .mongoose_model_crud
        .toolbar
            button.toolbar_button(@click="mode='table'"
            v-show="mode==='details'"
            ) Table
            button.toolbar_button(@click="refreshTable"
            v-show="mode==='table'"
            ) Refresh
            button.toolbar_button(@click="createItem"
            v-show="mode==='table' && model.canCreate!=false"
            ) Create
        .table
            thead
                tr
                    th(v-for="column in collectionFields" :key="column.name") {{column.label}}
            tbody
                tr(v-for="row in tableData.docs||[]" :key="row._id" @click="selectRow(row)")
                    td(v-for="field in collectionFields" :key="field.name")
                        .value {{row[field.name]}}
        .table_infos
            p(v-show="tableData.limit") Items per page: {{tableData.limit}}
            p(v-show="tableData.totalPages") Total pages: {{tableData.totalPages}}
            p(v-show="tableData.page") Page: {{tableData.page}}
        .details(v-if="mode==='details'")
            .field.id_field(v-if="item._id")
                p ID: {{item._id}}
            .field(v-for="field in stringCollectionFields" :key="field.name")
                label {{field.label}}
                input(v-model="item[field.name]")
            .details_toolbar
                button.details_toolbar_button(@click="cancelDetails") Cancel
                button.details_toolbar_button(@click="saveItem") Save
                button.details_toolbar_button(@click="deleteItem"
                v-show="item._id"
                ) Delete
</template>
<script>
import axios from 'axios'
export default {
  props: {
    model: {
      type: Object,
      default: () => ({}),
    },
    apiUrl: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      collectionFieldsOptions: {},
      tableData: [],
      item: {},
      mode: 'table',
    }
  },
  computed: {
    collectionFields() {
      return (
        (this.model &&
          this.model.paths &&
          Object.keys(this.model.paths)
            .reverse()
            .filter((key) => !['__v'].includes(key))
            .map((key) => {
              return {
                name: key,
                label: this.getLabel(key),
                type: this.model.paths[key].instance,
              }
            })) ||
        []
      )
    },
    stringCollectionFields() {
      return this.collectionFields.filter((f) => f.type === 'String')
    },
    apiName() {
      return this.model.plural || this.model.name
    },
  },
  watch: {
    model: {
      handler() {
        this.refreshTable()
      },
      deep: true,
    },
  },
  mounted() {
    this.refreshTable()
  },
  methods: {
    async deleteItem() {
      if (window.confirm('Sure?')) {
        await axios.delete(`${this.apiUrl}/${this.apiName}/${this.item._id}`)
        this.switchToTable()
      }
    },
    selectRow(row) {
      if (this.model.selectRow === false) {
        return
      }
      this.fetchItem(row._id)
    },
    async fetchItem(itemId) {
      this.emptyItem()
      this.item = (
        await axios.get(`${this.apiUrl}/${this.apiName}/${itemId}`)
      ).data
      if (Object.keys(this.item).length > 0) {
        this.mode = 'details'
      }
    },
    async refreshTable() {
      if (!this.apiName) {
        return
      }
      const sort = this.model.sort ? `&sort=${this.model.sort}` : ``
      const limit = this.model.limit ? `&limit=${this.model.limit}` : ``
      this.tableData = (
        await axios.get(`${this.apiUrl}/${this.apiName}?q=1${sort}${limit}`)
      ).data
    },
    async saveItem() {
      await axios[this.item._id ? 'put' : 'post'](
        `${this.apiUrl}/${this.apiName}`,
        {
          ...this.item,
        }
      )
      this.switchToTable()
    },
    createItem() {
      this.emptyItem()
      this.mode = 'details'
    },
    emptyItem() {
      Object.keys(this.item).forEach((k) => delete this.item[k])
    },
    getLabel(name) {
      return name === '_id' ? 'ID' : name.toUpperCase().split('_').join(' ')
    },
    switchToTable(refresh = true) {
      refresh && this.refreshTable()
      this.mode = 'table'
    },
    cancelDetails() {
      this.emptyItem()
      this.switchToTable(false)
    },
  },
}
</script>
<style lang="scss" scoped>
.toolbar {
  margin-bottom: 10px;
  display: flex;
  flex-basis: 100px;
  flex-grow: 1;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

th {
  text-align: left;
}
th,
td {
  padding: 0px 10px;
}
th:first-child,
td:first-child {
  padding: 0px 10px 0px 0px;
}

.details {
  background-color: var(--color-cream);
  padding: 20px;
  display: flex;
  flex-basis: 400px;
  flex-grow: 1;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 20px;
  position: fixed;
  right: 0px;
  top: 0px;
}
.field {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
input {
  min-height: 25px;
}
.id_field {
  flex-basis: 100%;
  font-size: 10px;
}
.details_toolbar {
  flex-basis: 100%;
  margin-top: 30px;
  display: flex;
  row-gap: 10px;
  column-gap: 5px;
  flex-grow: 1;
}
.details_toolbar_button {
  padding: 10px 20px;
}
.toolbar_button {
  padding: 20px 40px;
  font-size: 16px;
}
.table_infos {
  font-size: 10px;
  margin-bottom: 5px;
}
.table {
  overflow-y: auto;
}
</style>
