<template lang="pug">
  nav(center-collapsed='', v-model='active')
    LoginRegister(v-if="showLoginRegister" @done="showLoginRegister=false")
    
    .nav-inner
      .img-wrapper
        a.brand(href="/")
          .brand Walk&Meet
        Hamburger.toggle(@click="toggleToolbar")
      .toolbar(ref="toolbar" @click="toggleToolbar")
        NuxtLink#guide(:active='active == "guide"' :to="localePath('events')")
          | {{$t('NAVBAR.EVENTS')}}
        a#docs(:active='active == "docs"' v-if="false")
          | How&nbsp;it&nbsp;works?
        a#components(:active='active == "components"' v-if="false")
          | Contact
        
        NuxtLink.button(v-if="isLogged" :to="localePath('profile')") {{$t('NAVBAR.PROFILE')}}
        button(v-if="isLogged && isAppAdmin" @click="handleAdminClick") Admin
        button(v-if="!isLogged" @click="showLoginRegister=true") {{$t('NAVBAR.LOGIN_REGISTER')}}
        .login_infos(v-if="isLogged")
          .login_infos__logged_as {{loggedUser.email||loggedUser.username}}
          .logout(@click="handleLogout") {{$t('NAVBAR.LOGOUT')}}
        
    
</template>
<script>
import { mapGetters } from 'vuex'
import LoginRegister from '@/components/LoginRegister'
import Hamburger from './Hamburger'

export default {
  components: {
    LoginRegister,
    Hamburger,
  },
  data() {
    return {
      toolbar: false,
      showLoginRegister: false,
    }
  },
  computed: {
    ...mapGetters({
      isAppAdmin: 'auth/isAppAdmin',
      isLogged: 'auth/isLogged',
      loggedUser: 'auth/loggedUser',
    }),
    active() {
      return this.$route.name
    },
  },
  mounted() {
    if (process.env.client) {
      this.toolbar = process.env.window.innerWidth > 1024
    }
  },
  methods: {
    handleLogout() {
      this.$store.dispatch('auth/logout')
    },
    handleAdminClick() {
      this.$router.push(this.localePath('admin'))
    },
    toggleToolbar() {
      this.toolbar = !this.toolbar
      this.$refs.toolbar.style.display = this.toolbar ? 'flex' : 'none'
    },
  },
}
</script>
<style lang="scss" scoped>
img {
  max-height: 80px;
  margin-left: 20px;
}
nav,
nav * {
  box-sizing: border-box;
  font-family: monospace;
}
nav {
  margin-bottom: 30px;
  background-color: var(--color-blue);

  @media only screen and (min-width: 1024px) {
    height: 80px;
  }
  box-shadow: 0px 5px 3px var(--color-blue);
}
.nav-inner {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  max-width: 1200px;
  flex-direction: column;
  @media only screen and (min-width: 1024px) {
    flex-direction: row;
  }
}
.img-wrapper {
  width: -webkit-fill-available;
  height: 80px;
  display: flex;
  justify-content: center;
  @media only screen and (min-width: 1024px) {
    display: initial;
  }
}
.brand {
  color: var(--color-cream);
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}
a {
  padding: 0px 20px;
  display: flex;
  align-content: center;
  align-self: center;
  line-height: 80px;
  margin: 0 15px;
  color: var(--color-cream);
  text-decoration: none;
}
a:hover {
  color: var(--color-cream);
}

.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
  row-gap: 20px;
  align-items: center;
  @media only screen and (min-width: 1024px) {
    display: flex !important;
    flex-direction: row;
  }
}
.toggle {
  cursor: pointer;
  @media only screen and (min-width: 1024px) {
    display: none;
  }
}
.login_infos__logged_as,
.logout {
  font-size: 10px;
  text-align: center;
  white-space: pre;
}
.logout {
  color: var(--color-cream);
  cursor: pointer;
}
.logout:hover {
  opacity: 0.8;
}
.login_infos {
  color: var(--color-cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 5px;
}

button,
.button {
  line-height: inherit;
  padding: 10px;
  margin-right: 10px;
}
.button:hover,
.button:active,
.button:focus,
button:hover,
button:active,
button:focus {
  outline: 0;
  opacity: 0.8;
}
</style>
