<template lang="pug">
.user_form
  .form_group
    label.form_label Email
    input.form_input.title(v-model='user.email')
  .form_group
    label.form_label Username
    textarea.form_input(v-model='user.username')
  .form_group
    label.form_label Password (on create only)
    textarea.form_input(v-model='user.password')
</template>
<script>
export default {
  props: {
    value: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      user: {
        ...this.value,
      },
    }
  },
  watch: {
    user: {
      handler() {
        if (
          Object.keys(this.user).find((k) => this.user[k] !== this.value[k])
        ) {
          this.$emit('input', this.user)
        }
      },
      deep: true,
    },
    value() {
      this.user = {
        ...this.value,
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.user_form,
.user_form * {
  box-sizing: border-box;
}
.form_group {
  display: flex;
  flex-direction: column;
}
.form_label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-style: italic;
  font-size: 12px;
}
.form_input {
  border: 1px solid #662c91;
  padding: 5px;
}
.form_input.title {
  max-width: 600px;
  font-weight: bold;
  font-size: 16px;
}
</style>
