<template lang="pug">
.events_page
  .events 
    .no_events(v-show="events.length===0")
      p Surprisingly, no events yet.
    EventCard(v-for='event in events', :key='event._id', :item='event')
      template(#toolbar)
        //button(@click='edit(event)') Edit
  EventTemplates(v-if="false")
</template>
<script>
import EventCard from '@/components/EventCard.vue'
import EventTemplates from '@/components/EventTemplates.vue'
import ssrMixin from '@/components/mixins/ssr.js'
export default {
  name: 'Events',
  components: {
    EventCard,
    EventTemplates,
  },
  mixins: [ssrMixin],
  async asyncData(ctx) {
    return {
      events: await ssrMixin.methods.polymorphicFetch('/api/events', ctx),
    }
  },
  methods: {
    edit(event) {
      this.$router.push(
        this.localePath({
          name: 'events-id',
          params: {
            id: event._id,
          },
        })
      )
    },
  },
}
</script>
<style lang="scss" scoped>
.events_page {
  padding: 0px 0px;
}
.events {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  @media only screen and (min-width: 992px) {
    flex-direction: row;
    column-gap: 30px;
    justify-content: space-between;
  }
}
.no_events {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  p {
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
  }
}
</style>
