<template>
  <div class="layout">
    <Navbar v-if="true" />
    <div class="content">
      <Nuxt />
    </div>
    <Footer />
  </div>
</template>
<script>
export default {
  name: 'Default',
  async created() {
    if (process.client) {
      if (!this.$store.getters['auth/isLogged']) {
        await this.$store.dispatch('auth/loadCache')
      }
    }
  },
}
</script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Work+Sans:wght@100;400&display=swap');

:root {
  --color-blue: #231515;
  --color-light-blue: #cc1c1c;
  --color-cream: #d7f992;
  --color-red: #402328;
  --color-clear: #b4ffbc;
  --color-duck: #17e72d;
}

button,
.button {
  background-color: var(--color-light-blue);
  border: 0px;
  color: var(--color-cream);
  font-weight: bold;
  padding: 20px;
  font-size: 12px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
}
button:hover,
button:active,
button:focus,
.button:hover,
.button:active,
.button:focus {
  outline: 0px;
  box-shadow: 0px;
  color: white;
  cursor: pointer;
}
button[disabled],
.button[disabled] {
  background-color: grey;
}

input {
  border: 0px;
  font-size: 12px;
}

html {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  /*
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.212), white),
    url(https://images.unsplash.com/photo-1612263160749-6f79adb37969?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1540&q=80);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;*/
}

body {
  background-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.content {
  max-width: 1400px;
  background-color: white;
  margin: 0px auto;
  padding: 0px 20px;
  min-height: calc(60vh - 80px);
  @media only screen and (min-width: 992px) {
    padding: 0px 0px;
  }
}
</style>
