<template lang="pug">
  client-only
    .admin_users_manage
      .admin_users_toolbar()
        NuxtLink.button(v-show="!(isCreate||user._id)" :to="localePath({name:'admin'})") Back
        button(@click="backToList" v-show="isCreate||user._id") Back (Cancel Create/Edit)
        button(@click="isCreate=true" v-show="!(isCreate||user._id)") Create new
        button(@click="refreshList" v-show="!(isCreate||user._id)") Refresh list
      .admin_users_list(v-show="!(isCreate||user._id)")
        h2 LIST
        .list_item(v-for="item in items" :key="item._id" @click="editItem(item)")
          p.list_item__title 
            span Email: {{item.email}}
            <br>
            span Username: {{item.username}}
            <br/>
            span Roles: {{item.roles.map(r=>r.name).join(', ')||'None'}}
      .admin_users__details(v-show="user._id||isCreate")
        h1(v-show="isCreate") CREATE USER
        h1(v-show="user._id") EDIT USER
        UserForm(v-model='user')
        .admin_users__details_buttons
          button.save(:disabled="!isUserValid", @click='save') Save changes
          button.remove(:disabled="isUserAppAdmin" v-show="user._id", @click='remove') Remove
</template>
<script>
import UserForm from '@/components/UserForm.vue'
import axios from 'axios'

export default {
  meta: {
    requiresAdmin: true,
  },
  components: {
    UserForm,
  },
  data() {
    return {
      isCreate: false,
      user: {},
      items: [],
    }
  },
  computed: {
    isUserValid() {
      return !!this.user.email && !!this.user.username
    },
    isUserAppAdmin() {
      return (
        (this.user.roles || []).findIndex((x) => x.name === 'APP_ADMIN') >= 0
      )
    },
  },
  mounted() {
    this.refreshList()
  },
  methods: {
    async remove() {
      await axios.delete(`/api/users/${this.user._id}`)
      this.backToList()
    },
    editItem(item) {
      this.user = {
        ...item,
      }
    },
    async refreshList() {
      this.items = (await axios.get(`/api/users`)).data
    },
    backToList() {
      this.isCreate = false
      this.user = {}
      this.refreshList()
    },
    async save() {
      if (this.user._id) {
        await axios.put(`/api/users`, {
          ...this.user,
        })
      } else {
        await axios.post('/api/users', {
          ...this.user,
        })
      }
      this.backToList()
    },
  },
}
</script>
<style lang="scss" scoped>
.admin_users_toolbar {
  margin-bottom: 10px;
  display: flex;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
}
.list_item {
  cursor: pointer;
}
.list_item__title {
  padding: 5px 0px;
}
.admin_users__details_buttons {
  margin-top: 20px;
  display: flex;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
}
</style>
