<template lang="pug">
  client-only
    .admin_events_manage
      .admin_events_toolbar()
        NuxtLink.button(v-show="!(isCreate||event._id)" :to="localePath({name:'admin'})") Back
        button(@click="backToList" v-show="isCreate||event._id") Back (Cancel Create/Edit)
        button(@click="isCreate=true" v-show="!(isCreate||event._id)") Create new
        button(@click="refreshList" v-show="!(isCreate||event._id)") Refresh list
      .admin_events_list(v-show="!(isCreate||event._id)")
        .list_item(v-for="item in items" :key="item._id" @click="editItem(item)")
          .theme(v-show="item.theme") {{item.theme&&item.theme.name}}
          p.list_item__title {{item.title}}
      .admin_events__details(v-show="event._id||isCreate")
        EventForm(v-model='event' @update="onEventUpdate")
        .admin_events__details_buttons
          button.save(:disabled="!isEventValid", @click='save') Save changes
          button.remove(v-show="event._id", @click='grantAdmin') Grant Event Admin
          button.remove(v-show="event._id", @click='remove') Remove
</template>
<script>
import EventForm from '@/components/EventForm.vue'
import axios from 'axios'
//  import moment from 'moment-timezone'
export default {
  meta: {
    requiresAdmin: true,
  },
  components: {
    EventForm,
  },
  data() {
    return {
      isCreate: false,
      event: {},
      items: [],
    }
  },
  computed: {
    isEventValid() {
      return (
        !!this.event.title &&
        !!this.event.description &&
        !!this.event.slug &&
        !!(this.event.theme && this.event.theme._id)
      )
    },
  },
  mounted() {
    this.refreshList()
  },
  methods: {
    async grantAdmin() {
      await axios.post(`/api/events/grant_admin`, {
        eventId: this.event._id,
      })
    },
    onEventUpdate(event) {
      Object.assign(
        this.items.find((e) => e._id === event._id),
        event
      )
    },
    async remove() {
      await axios.delete(`/api/events/${this.event._id}`)
      this.backToList()
    },
    editItem(item) {
      this.event = {
        ...item,
      }
    },
    async refreshList() {
      this.items = (await axios.get(`/api/events`)).data
    },
    backToList() {
      this.isCreate = false
      this.event = {}
      this.refreshList()
    },
    async save() {
      if (this.event._id) {
        await axios.put(`/api/events`, {
          ...this.event,
          //  date: moment(this.event.date)._d,
        })
      } else {
        await axios.post('/api/events', {
          ...this.event,
          theme: this.event.theme._id,
        })
      }
      this.backToList()
    },
  },
}
</script>
<style lang="scss" scoped>
.admin_events_toolbar {
  margin-bottom: 10px;
  display: flex;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
}
.list_item {
  cursor: pointer;
  border: 2px solid var(--color-blue);
  padding: 5px;
}
.list_item__title {
  padding: 5px 0px;
}
.admin_events__details_buttons {
  margin-top: 20px;
  display: flex;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
}
.admin_events_list {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.theme {
  font-size: 10px;
}
</style>
